[2015-09-25 17:16] bdeitte opened #4 "Support a timeout and buffer"
node-statsd-client has some goodness in it like timeout and buffer support: https://github.com/msiebuhr/node-statsd-client/blob/master/lib/EphemeralSocket.js

It would be nice to grab whatever we can from that project (and the license and attribution for the changes of course) to use here

[2015-10-22 16:26] bdeitte commented on #4
Still don't have socket closing in here, but it's pretty much what I was looking for in https://github.com/brightcove/hot-shots/pull/5

[2015-10-22 16:26] #4 closed

[2015-12-04 11:59] gebrits opened #6 "Is this active?"
Came across this through `node-statsd`
Is this actively maintained?

[2015-12-04 14:02] bdeitte commented on #6
It is!  We use it Brightcove, and we'll keep making improvements to it.  I have also been watching node-statsd and keep pulling in the PRs that come in from there.

[2015-12-04 14:02] #6 closed

[2015-12-04 17:26] gebrits commented on #6
cheers, good to know!

On Fri, Dec 4, 2015 at 3:02 PM, Brian Deitte <notifications@github.com>
wrote:

[2016-04-26 04:32] ash2k opened #19 "Use strict"
I noticed `'use strict';` is missing from `.js` files. It might be safer to use strict mode, WDYT?

[2016-04-26 12:28] bdeitte commented on #19
Certainly, missed that this wasn't there!  I'll put this in sometime soon, or feel free to add it to your PR (which I should get to review later today, thank you for that).

[2016-04-26 22:14] ash2k commented on #19
I didn't add it to my PR because there were some test failures because of it and I didn't have time to look into it.

[2016-04-26 22:32] bdeitte commented on #19
Huh, very interesting.  I should be able to take a look at this another day.

[2016-04-28 13:15] #19 closed

[2016-04-29 00:06] ash2k opened #22 "Child client should override matching tags"
If parent client already has some global tags, client's tags should override tags with same name (case-sensitive?).

[2016-04-29 10:52] bdeitte commented on #22
It would make sense to me to override here.  What were you considering on this one?

[2016-04-29 22:39] ash2k commented on #22
I'm sorry, I don't understand the question. Could you explain what you mean?

[2016-05-02 13:12] bdeitte commented on #22
I was wondering how you expected things to happen with this and case-sensitivity.  Since you are likely the one person using this feature right now, your opinion matters!

[2016-05-02 23:59] ash2k commented on #22
I'll just submit a PR for review for this when I'll have some time. Cheers!

[2016-05-07 11:30] #22 closed

[2016-05-24 12:28] zentuit opened #27 "You need to get on DataDogHQ Libraries page"
I've been looking for a dogstatd node client that supports events. None of the one's listed on http://docs.datadoghq.com/libraries/ seem to support events without using the http api.

It was only through looking at node-dogstatsd pull request that I found this project.

[2016-05-24 13:06] bdeitte commented on #27
Yeah I emailed someone on Datadog a long time ago on this, through some newsletter that told me who to email to get on this page.  Never heard back, and I've forgotten about it since then.  I'll try  code@datadoghq.com as I see on that page now.  Thanks for the reminder!

[2016-05-25 01:55] irabinovitch commented on #27
@zentuit @bdeitte Thanks for the heads up. We'll go ahead and get this added.

[2016-05-25 12:21] bdeitte commented on #27
@irabinovitch that was quick, thank you!

[2016-05-25 12:21] #27 closed

[2016-07-29 14:08] suhas-babyoye opened #28 "Global tags not being sent"
I tested with following code snippet:
[code]
Output:
[code]
If I change to `const StatsD = require('node-statsd');`
Output:
[code]

[2016-07-30 22:22] bdeitte commented on #28
global_tags was changed to globalTags, to be consistent with other parameters.  It probably should have been kept in, as a fallback for people switching over.  I'll keep this issue open for anybody who wants to submit a PR to add this back in as a hidden option for better compatibility.

[2016-07-31 02:00] suhas-babyoye commented on #28
I am sorry I didn't notice that myself. And thank you for the response

[2016-08-20 23:59] thesmart opened #30 "close callback never invoked in some cases"
I have noticed that if no socket connection is ever opened, then the callback passed to the close method is never invoked.  This leads to my app being hung, waiting forever for the close callback.
If the connection is already in a state of closed, then the callback should be invoked immediately because the callback is a signal that the closed state has been reached.

Otherwise, if we don't think t

[2016-08-21 00:11] thesmart commented on #30
Hmm, having a hard time reproducing this issue.  Closing until I can.

[2016-08-21 00:11] #30 closed

[2016-08-21 12:14] bdeitte commented on #30
If you do keep running into this in production, even if you can't reproduce in a simple case, feel free to reopen this.  I don't mind keeping it open for awhile to see if others have run into this.

[2016-09-29 15:01] ggoodman opened #31 "No `error` listener is added to the udp socket"
Running `hot-shots` in production in a kubernetes environment results in sporadic dns lookup failures for me. As there is no `error` listener attached to the socket my hypothesis is that dns lookup errors are bubbling their way up as uncaught exceptions, resulting in a server crash.

Request: Use the existing `options.errorHandler` for:

[code]

[2016-09-29 15:13] bdeitte commented on #31
Thanks for the suggestion- you're welcome to open a PR for this, sounds like a good idea to me.

Another thing you may want to do is set cacheDns so that the host lookup is only done once.

[2016-09-29 15:14] ggoodman commented on #31
@bdeitte thanks for the suggestion re: `cacheDns`. Unfortunately as services can move around within a cluster, relying on a cached ip address would just accelerate the service's race to the grave ;-)

I'll put a PR on the backlog.

[2016-09-30 14:15] #31 closed

[2016-10-24 15:49] kpdecker opened #33 "Calling increment with only args results in corrupted packets"
[code]

I had assumed that the above would default to value of 1, but it does not, resulting in error in the dogstats agent.

[code]

Adding a conditional like the following seems to fix the issue

[code]

[2016-10-25 01:19] bdeitte commented on #33
That seems reasonable to me.  Would you like to open a PR with this fix and a test?  If not, I'll just keep this issue open until someone picks this up.  Thanks.

[2016-11-10 05:10] zz85 opened #35 "Child Prefixes"
Shouldn't prefix add on to the parent's eg.

[code]

instead of

[code]

in https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L559
?

[2016-11-11 17:49] bdeitte commented on #35
I think an argument could be made in either order.  Unfortunately I don't think that we could change this- doing that would break anyone already using this functionality without a very clear benefit.  I'm going to close this issue, but let me know if I am missing something here.  Thanks.

[2016-11-11 17:49] #35 closed

[2016-11-26 19:37] bdeitte opened #36 "README examples could use some love"
The README examples are ok but not the best.  It would be nice to split out examples into different sections and make sure they all really make sense.  The timings ones for instance should have a starting time and then subtract from the starting time using Date.now(), the most common use case.  And the tags ones should use tags as they are really used in DataDog ("key:value").

I'm entering this a

[2016-11-26 19:39] bdeitte opened #37 "README should explain how to migrate from node-statsd"
The README should have a section explaining on how to migrate from node-statsd, since that's where a lot of users of this project come form.  A migration should just be:
- switching require statements
- if using Datadog, switch global_stats to globalStats (see https://github.com/brightcove/hot-shots/issues/28)
- if using Datadog, consider using this library instead of another one for events

I'm e

[2016-12-13 23:31] bdeitte commented on #37
Fixed with https://github.com/brightcove/hot-shots/commit/9dcb833479e1fcb0da8cf6d1d04506483dbcfdc6

[2016-12-13 23:31] #37 closed

[2017-01-15 10:03] shmuelgutman opened #38 "global prefix is not concatated for "check" function"
Hi,
Thanks for this library, very useful.
calling "check" function like this:
`client.check('service.running', this.CHECKS.OK, [this.serviceName]);`
with global prefix param set to "somePrefix."
I would expect the data sent to Datadog to be named as "somePrefix.service.running" like happends in other functions but isn't.

[2017-01-15 19:07] bdeitte commented on #38
That does make sense, sounds like a bug!  I'll leave this open until it's fixed.  Thanks for the note.

[2017-01-17 16:57] emmanuelbuah opened #39 "dgram Error: Not running"
Running into this error sometimes due to the forced closed socket connection when a work disconnect or closes in a cluster. I dug around a bit and found this - https://github.com/phuesler/ain/issues/24 which elaborates on this issue with dgram.

[2017-01-20 22:00] bdeitte commented on #39
The linked issue reads to me like it's an issue there with the server side of a socket connection- am I reading that right?  In that case it's an issue with whatever you are connecting to.  If you don't think it's that, I'll certainly keep this open  And if that linked issue is suggesting a fix that can be made here, please feel free to submit a PR.  Thanks!

[2017-01-31 22:00] jnv commented on #35
I was surprised by this behavior too. Perhaps there could be some additional property for child which would append the child's prefix to parent's? Ideas for name: `subPrefix`, `childPrefix`, `appendPrefix`

[2017-02-10 19:39] jsocol commented on #28
This can probably be closed, then?

[2017-04-13 09:04] sashman opened #41 "close() call does not seem to send data before closing"
Hey,

I have the following code:
[code]

With the `close` call there, no data is sent out at all. Am I using it correctly? The docs specify all data should be sent before the socket is closed.

Tested with `tcpdump -n udp dst port 8125`

[2017-04-14 17:16] bdeitte commented on #41
timing() is asynchronous.  There is a callback that you can add to it, that's optional, that returns when the data has really been sent.  If within that callback you called closed, I would expect you see the data sent.  If that's not the case, please feel free to reopen!

[2017-04-17 01:21] bdeitte commented on #41
Yes, I see there is a bug here.  Thanks for catching this!  I am not able to find the time to fix this myself, but I am happy to accept a PR from anybody who does fix this and will keep open this issue.

What needs to happen here is that the flushQueue callback can't be ignored:
https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L526
The callback for flushQueue needs to be listened

[2017-04-17 01:22] bdeitte commented on #39
Closing this, given what I mention above.  Please let me know if this is in error.  Thanks.

[2017-04-17 01:22] #39 closed

[2017-04-17 01:23] bdeitte commented on #28
I've kept this issue open for anybody who wants to submit a PR to add this back in as a hidden option for better compatibility.

[2017-05-04 14:53] jsocol commented on #33
Opened #42!

[2017-05-05 01:05] #33 closed

[2017-06-13 01:56] bdeitte opened #43 "Methods lose parameters when given empty object for sampleRate"
This was seen from someone another team I work with, and entering to be fixed later and noted in case others run into it.  The case ran into was like this:

[code]

In that case, because an empty object is given for sampleRate, the sendAll() code believes this is a callback.  So tags or any other parameters after this are lost.  This is odd behavior having to do with the legacy allowing for shorte

[2017-06-26 23:41] dj-hedgehog opened #44 "Telegraf: metric parsing error, reason: [missing fields]"
This code:

[code]

Results for me in this (tried with telegraf set to `true` and `false`):

[code]

What can I do about this?

[2017-06-30 14:31] bdeitte commented on #44
I have never used Telegraf unfortunately.  Does it work if you remove prefix?  Perhaps @mmoulton  has an idea here?

[2017-06-30 18:35] mmoulton commented on #44
@dj-hedgehog The error message you posted, is that coming from Telegraf or from you node app?

[2017-07-03 12:42] dj-hedgehog commented on #44
It is coming from Telegraf itself. I am running the latest version with this docker-compose:

[code]

This is the input configuration of Telegraf (telegraf.conf)
[code]

[2017-07-04 17:43] outrunthewolf opened #45 "DogStatsD"
How do I integrate this with my datadog account? I can't seem to find a URL to ass as he host.

[2017-07-04 18:10] #45 closed

[2017-08-05 05:32] guyisra commented on #41
@bdeitte You mean it should be
`this.flushQueue( () => this.socket.close())` ?

[2017-08-05 20:59] bdeitte commented on #41
@guyisra Something like that, yes.  socket.close() can thrown an error so the existing catch call needs to be in there.  Also this library isn't currently using babel and has never formally deprecated any version of Node, so we'd have to do a major version bump to use the now-usual ES6 goodness.

[2017-08-06 05:41] guyisra commented on #41
From what I see is that when close() is called, the buffer is empty and the socket closes immediatly. But then the message that was sent (before the close()) is trying to get out but the socket is already closed. It would seem that the messages that need to be sent should be enqueued (or I probably misunderstand the intent of enqueue() so when the socket gets closed, it will go over the bufferHold

[2017-08-06 16:31] bdeitte commented on #41
I think what I propose above would solve this, and you don't need any other enqueued message solution.  The buffer can be empty but the message can still not be sent- in order to know this you have to listen to the socket callback: https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L502

This socket callback is in the end what's listen to when you add a callback listener for flushQu

[2017-08-07 18:34] guyisra commented on #41
When trying to put the close() as the callback of flushQueue() and trying to do `client.close()` after a call to `client.increment` it seems that flushQueue() doesn't have anything to flush, and continues off the closing the socket without waiting for the message to be sent. When the message gets around to be sent, it fails on the send since the socket is already closed

[2017-08-09 01:20] bdeitte commented on #41
Oh I see.  So the flushQueue() solution will fix some cases but not all of them.  There's also the case you described which would be fixed by:
1) Within your code making sure the increment callback is used before calling close
2) A much better solution in the library which essentially takes care of this
I'm not sure offhand what the right solution is for the second one.  I mean, I can think of one

[2017-09-24 16:16] slossgaming opened #47 "Error sending hot-shots message: Error [ERR_SOCKET_DGRAM_NOT_RUNNING]: Not running"
I get the error: "Error sending hot-shots message: Error [ERR_SOCKET_DGRAM_NOT_RUNNING]: Not running" When attempting to send a request to DataDogHQ

[2017-09-25 01:33] bdeitte commented on #47
This sounds like you don't have the Datadog agent running.  See https://docs.datadoghq.com/guides/dogstatsd/#setup

[2017-09-29 21:41] bdeitte commented on #47
Closing this, but feel free to reopen if you need help.

[2017-09-29 21:41] #47 closed

[2017-09-29 21:42] bdeitte commented on #44
@mmoulton @dj-hedgehog Is this still valid, anything to do here?  Just checking on open issues, thanks!

[2017-09-29 21:47] bdeitte commented on #38
And sure enough you can see that in the non-check case the prefix/sufix is used:

https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L204

But the stat in the check case doesn't use this:

https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L387

Should be simple enough for someone to fix!

[2017-09-29 21:52] bdeitte commented on #28
If adding this as an option, please also remove from the README that this is needed to change for migrating.

[2017-09-30 00:37] bdeitte opened #48 "Typescript typings"
Add back typescript typings as noted in https://github.com/brightcove/hot-shots/pull/46 Making an issue in case @jgwmaxwell doesn't get to it, or if that does happen assigning the hacktoberfest label so he can get credit for it if he wants.  :)

[2017-09-30 02:05] willyb321 commented on #36
Hey, I can have a look at this.

[2017-11-01 01:33] #38 closed

[2017-11-09 14:45] #48 closed

[2017-12-01 14:25] rasmuslp commented on #35
This surprised me as well. However, a simple solution is to set it manually on the child:
[code]

[2017-12-28 17:52] luqmaan commented on #47
I was getting the `Error sending hot-shots message: Error [ERR_SOCKET_DGRAM_NOT_RUNNING]: Not running` error a lot as well.

I had DataDog correctly installed and it was successfully reporting other metrics.

[code]

I think there may be a bug around parsing arguments when there are tags and a callback.

[code]

For now, I'm working around it by always explicitly sending the `sampleRate` argument.

[2017-12-31 18:42] bdeitte commented on #47
@luqmaan That does sound very much like the increment issue- the optional arguments setup in node-statsd/hot-shots has always been a little... suspect.  If you're feeling sure it's solved by the sampleRate addition and you're on the latest version, could you open a new issue on this?

[2018-01-15 22:19] xvello opened #53 "Support the new Unix Domain Socket transport"
The [Datadog Agent6](https://github.com/DataDog/datadog-agent) dogstatsd supports [submitting  metrics via a Unix Domain Socket](https://github.com/DataDog/datadog-agent/wiki/Unix-Domain-Sockets-support) instead of UDP. This is very useful in container environments where network connectivity can be a hassle, and allows error detection.

[This wiki page](https://github.com/DataDog/datadog-agent/wik

[2018-01-16 13:48] bdeitte commented on #53
Hi @xvello thanks for the heads up!  I maintain this project, and I am not going to have any time at all to try to implement this unfortunately.  We have a lot of people who have contributed here, so if anybody else wants to step in by all means please do.  I am always prompt and happy to review anything that comes in right away.

[2018-01-22 05:44] karsai5 commented on #48
In order to get the typescript definitions to work I had to change the module export. I've created a pull request at https://github.com/brightcove/hot-shots/pull/54

[2018-01-30 21:26] lautis opened #55 "Pass key-value tags as objects"
To my understanding, the StatsD implementations with tag support expect the tags to be key-value pairs. Hot-shots expects users to do the formatting, which is not ideal. Users must also do sanitation of tags which is even less ideal.

Instead, there could be automatic formatting of key-value tags to array

[code]

should be the same as

[code]

The implementation could be backwards compatible. If

[2018-02-03 01:31] bdeitte commented on #55
I like it- I would definitely accept a PR for this.  There's already a telegraf flag that is passed in at the top-level as a config option, so that can be used to be sure it's not sent in the wrong format.  Thanks!

[2018-02-05 19:12] jsocol opened #57 "Unreference underlying socket to prevent process hangs"
We recently started seeing our test suites hang across projects that were using hot-shots (we have our own wrapper which sets some defaults) and tracked it down to a new behavior in mocha 4, which prevents the test process from exiting while there are open handles.

In theory, this could also impact clean shutdowns of non-test processes as well where `StatsD` objects may not be able to be informed

[2018-02-07 15:01] jsocol commented on #57
It is pretty easy to work around, for sure. This is what we've done, since we're wrapping the `StatsD` class:

[code]

but that could also be handled by any code after instantiating a `StatsD` instance. I'm not sure how "public" `this.socket` is, but as long as it doesn't change, user-land code can fix this.

[2018-02-15 01:39] #55 closed

[2018-04-07 00:23] bdeitte opened #62 "Split up the big file"
lib/statsd.js is closing in on 1000 lines.  It's overdue to split this up.

[2018-04-07 00:26] bdeitte opened #63 "Add mocking in tests"
Use sinon or something similar to test the parts that are hard to test right now, and to actually unit test.  One good candidate to start testing here would be getDefaultRoute()

[2018-04-13 16:53] eavestn commented on #36
@bdeitte or @willyb321 has anyone looked at this? They're pretty out of date (if the code base is indicative of changes).

[2018-04-15 01:12] bdeitte commented on #36
@eavestn I haven't seen any work come in on this.  Happy to get a PR for any updates here.

[2018-05-25 14:46] tzvipm opened #66 "[Feature Request] support async functions for client.timer"
Currently, client.timer works only for synchronous code. I think it would be nice to allow the input function to return a promise and then run the metrics after the promise resolves. This would also allow for async functions to me measured using the `client.timer` API.

If you think this is a good idea, I'd be happy to put up a PR for it.

[2018-05-28 21:26] bdeitte commented on #66
That sounds like a great idea to me- I would accept a PR for that.  Thanks!

[2018-05-31 01:46] #62 closed

[2018-06-14 15:55] singerb opened #72 "close() callback type definition is incorrect"
https://github.com/brightcove/hot-shots/blob/master/types.d.ts#L116 defines the callback as being `() => void`, but both the documentation and the code itself show that the type should be `( err?: Error ) => void` instead.

[2018-06-16 01:39] bdeitte commented on #72
Good to know!  Please feel free to submit a PR for this (or anybody who'd like this fixed).  Thanks!

[2018-06-20 20:01] tzvipm opened #75 "Add support for beta distributions on dogstatsd"
see https://github.com/DataDog/datadog-go/pull/45, https://github.com/DataDog/dogstatsd-ruby/pull/72. Note: this feature is currently in beta.

[2018-06-20 20:15] tzvipm commented on #75
Apparently this was already done 👍 https://github.com/brightcove/hot-shots/pull/64

[2018-06-20 20:15] #75 closed

[2018-07-02 16:06] honzajavorek opened #76 "Add support for TCP connections"
Thanks for this library! It took me a while to stumble upon it (not really intuitive name, I guess all have been taken), but the greater is the joy a maintained statsd library exists! And it even mentions Telegraf, which I'd like to use ❤️

The only thing I'm missing is a TCP connection support as laid out in https://github.com/sivy/node-statsd/pull/67. What would be the best way to help the TCP s

[2018-07-02 16:19] bdeitte commented on #76
If you brought over that PR, that sounds great.  I don't think copy-pasting the code over will work exactly, as there has been some splitting of the one main file into more than one here.  But it shouldn't be too much extra work.  While I am not actively developing in this project, I'm quick to review and merge things in.

And you are right as mentioned in that other PR- this hasn't brought into t

[2018-07-04 11:21] Willyham opened #77 "Keep buffers from mocked calls for test inspection."
We're trying to write tests for our stats client which wraps hotshots. There are some instances where we can't supply a callback to each 'count' or 'timing' call. In order to test that our stats are emitting properly, we're having to use https://github.com/mattrobenolt/node-mock-udp to ensure that we're sending the right data.

It would be nice if hot-shots would record the outgoing buffers when `

[2018-07-05 01:29] #77 closed

[2018-07-18 12:17] #76 closed

[2018-07-20 04:45] voxxit commented on #53
I can see if I have some time in the next few days. Stay tuned.

[2018-07-20 11:49] xvello commented on #53
@voxxit That's great news!

You can find the list of compatible libraries [in our documentation page](https://docs.datadoghq.com/developers/dogstatsd/unix_socket/), if you want to benchmark existing implementations.

[2018-07-27 11:53] #66 closed

[2018-08-01 12:56] alex-gokkun opened #84 "Tag values can only be strings."
https://github.com/brightcove/hot-shots/blob/46aa12c164508857a15ca7f394be4d99affd7025/types.d.ts#L4

Since it's possible to send different non-string tag values (e.g. booleans) I've been wondering if the Tag type should be updated accordingly.

[2018-08-02 23:17] bdeitte commented on #84
All non-string values are coerced to strings, though, so I wonder if this makes sense as-is.  Not sure what is normally done in typescript types here myself.

[2018-08-09 08:18] alex-gokkun commented on #84
Same here🤷
Despite the fact that the values are coerced to strings, it doesn't undermine convenience it might bring in some cases. For instance, if a tag has boolean values, the associated datadog metric can be categorized based on the tag's values.

[2018-08-21 23:13] kevzettler opened #85 "tag syntax does not work for graphite carbon collector"
When using tags with `hot-shots` statsd client. and passing the tags in as an object not an array.

I get errors from graphite carbon collector.

[code]
The `hot-shots` tag syntax of `message#tag:value,tag2:value,tag3:value` differs from what the graphite docs showacase of `message;tag=value;tag2=value;`

https://graphite.readthedocs.io/en/latest/tags.html#carbon

[2018-08-25 19:39] bdeitte commented on #85
I believe most people are using multiple tags with Datadog, which does use the comma separator.

It's not clear to me what the standard here is for statsd.  From what I read, the standard statds implementation doesn't support multiple tags, but that the forks that do would use commas.  https://github.com/etsy/statsd/issues/567.  If you can point to a statsd implementation that does use semicolons,

[2018-11-12 01:01] bdeitte commented on #84
Given the backwards compatible issue at this point and potentially real use case here, we're not going to change this.  Thanks but closing out!

[2018-11-12 01:01] #84 closed

[2018-11-12 01:02] bdeitte commented on #85
Given I haven't heard back here, closing out.  Please feel free to open something new if you can clarify how you see this.  Thanks!

[2018-11-12 01:02] #85 closed

[2018-11-23 23:47] bdeitte commented on #57
I tried to use unref() as part of https://github.com/brightcove/hot-shots/pull/89, as I ran into this issue when upgrading mocha in this project.  Oddly enough, that didn't work by itself, so I left it out for now.  I ended up having to use "--exit" as a param for mocha.  But now it should be able to test out such a fix... not sure if there is more that is needed with the tests, or something more

[2018-12-02 18:52] bdeitte commented on #41
Yes, still an issue.  If anybody wants to fix in the short term, please look at open PRs and build off of those, if there are any big ones.  I've been overhauling parts of the codebase, have another PR coming for that as well.

[2018-12-20 04:50] runk opened #92 "Mocking mode still attempts to create a socket"
Problem: even with `{ mock: true }` option enabled, new socket is created, and connection attempted. It raises unwanted noise in errors due that.

Ref: https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L68

[2018-12-26 20:17] bdeitte commented on #44
Closing given no more occurrences of this and no more info.  Please feel free to open a new issue as needed, thanks!

[2018-12-26 20:17] #44 closed

[2018-12-26 20:21] bdeitte commented on #92
Makes sense to fix, and happy to take PRs from anyone on it.  Looks like there would also need to be some this.socket cleanup in there, of making sure there is a valid reference before it is used in places.

[2018-12-26 20:22] bdeitte commented on #36
I made some small updates in there recently, but all the above is still valid and could still be taken on by anyone interested!

[2019-01-01 19:35] bdeitte commented on #41
Happy New Year- fixed this up in the PR above if folks want to review it or try it out.

[2019-01-01 19:36] bdeitte commented on #53
This should be a lot easier to do with some of the changes I've made in the last month, with the tests being revamped to be easier to add to.

[2019-01-03 16:49] gabsn commented on #53
@bdeitte I actually need this feature since we use **hot-shots** to send metrics from our node app. Do you know what else remains to do to be compatible with UDS? (I also work at Datadog btw)

[2019-01-03 16:55] bdeitte commented on #53
@gabsn Great!  So a new protocol should be added for this, similar to how 'tcp' was done at one point.  It's all in one file for changes to make, like here: https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L41

You'll also want to add some tests.  There's no real unit tests in here- these are all actual tests where we bring up and tear down the client/server over and over.  So to

[2019-01-03 17:09] gabsn commented on #53
Ok thanks, I'll let you know when the PR is ready!

[2019-01-05 13:34] #41 closed

[2019-01-15 02:18] elliotwonghk01 opened #99 "Only messages sent via TCP have a `\n` delimiter appended"
Any idea on why only messages sent via TCP have a `\n` delimiter appended?

https://github.com/brightcove/hot-shots/blob/90ba5837b35a4f77f0bf459ee846f9541942ac9a/lib/statsd.js#L321

[2019-01-16 01:57] bdeitte commented on #99
Is this causing an issue for you?  Only tcp has this, because tcp was added second and I assume it was needed for some agent using this.

[2019-01-16 04:55] elliotwonghk01 commented on #99
Yeh we were using [socat](https://hub.docker.com/r/alpine/socat/) to monitor the published metrics, which identifies and splits metrics by `\n`. Without the delimiter, the metrics simply can't be separated.

[2019-01-16 15:20] srilq opened #100 "Process hanging in latest minor version v6.1"
Since upgrading to v6.1 from v6.0 the process hangs forever, preventing our tests from exiting.

This might be related to #57 but this issue has only cropped up more recently for us.

### Previous Behaviour

Calling `client.close()` after all tests finish prevents the process from hanging.

### Current Behaviour

Calling `client.close()` seems to have no effect.

[2019-01-16 15:23] srilq commented on #100
Possibly related to #93.

[2019-01-20 18:39] bdeitte commented on #99
Got it.   Have you considered then switching to TCP?  I don't see changing the default for UDP here, given it's been in place that way since the beginning and I have no idea no the effects of such a change on all statsd versions and flavors.  Alternatively, someone could add in an option to make this an optional thing that happens.

[2019-01-20 18:43] bdeitte commented on #100
Huh, that's interesting that this just started happening.  I am going to fold this into https://github.com/brightcove/hot-shots/issues/57 and add some comments there.

[2019-01-20 18:43] #100 closed

[2019-01-20 18:44] bdeitte commented on #57
As noted in the issue mentioned above, there may be even worse behavior happening now in hot-shots 6.1.  Folding these issues together though because having the process not hang is a general annoyance that needs to get fixed.  @srilq does adding the --exit param work for you, or the unref mentioned above?  Just want to make sure I understand this new wrinkle as well, thanks.

[2019-01-21 11:11] srilq commented on #57
@bdeitte
Jest `--forceExit` works! However, this will still leave the process running in the background which isn't ideal for local development.

[2019-02-18 16:32] bradwilson opened #101 "protocol is missing from ClientOptions in TypeScript types"
The `protocol` property of `ClientOptions` is not yet present in the `types.d.ts`, which makes it difficult to set the protocol from TypeScript (forcing the user to cast their object as `any`).

[2019-02-27 16:24] buianhthang opened #102 "Tags not being sent"
Hi,

I'm using `hot-shots` with DogStatsD for my application. When I using tags with the syntax same as mentioned, I cannot find tags which I tagged in Datadog Metrics (only found globalTags)

[code]

<img width="477" alt="image" src="https://user-images.githubusercontent.com/10458061/53505606-bed48a80-3ae6-11e9-927e-a93120f8ed23.png">

[2019-03-03 01:30] bdeitte commented on #102
I can see that the general case of calling increment like this is working, as we have a test on this: https://github.com/brightcove/hot-shots/blob/master/test/statsFunctions.js#L186

Could you try taking out the global tags and see if that fixes it?  Perhaps there is an unknown bug there?  Also you should have the errorHandler out of your global tags, like this:
[code]

[2019-03-03 04:24] buianhthang commented on #102
@bdeitte I'm trying to create dogStatsd one time only, then I just need to increase counter key with tags where I need. But only global tags at creation time available here. I'm expecting new tags added at increase time should be there.

I will need to look into your test again.

[2019-03-04 08:00] buianhthang commented on #102
@bdeitte now I can use `hot-shots` as my expectation. thank you.

[2019-03-04 08:00] #102 closed

[2019-03-14 12:47] danroyo commented on #57
I'm seeing some non-test scenarios where the unreferenced socket is causing a process to hang.  I'm working on a project where the parent process creates a pool of workers by forking.  Normally these child processes have a lifespan of under a minute, but we're seeing them hang because those workers send StatsD metrics and will not get torn down due to the open handle.

[2019-03-20 16:04] ahmed-mez opened #103 "Support configuring the client from environment variables"
All of the official Datadog dogstatsd clients can now be configured via standard environment variables.  As the maintainer of the node dogstatsd library, could you port the same functionality to this client?  We would prefer that configuration be consistent across client libraries.

Sample changes from the Go implementation can be found here: https://github.com/DataDog/datadog-go/pull/78

Let me k

[2019-03-21 22:49] bdeitte commented on #103
Hi @ahmed-mez thanks for the request!  As the one person who has been maintaining this library, I do make updates when I can, but I can't guarantee any porting myself.  I do though promptly review and merge in any changes made, so happy to do so if anybody wants to make them.

[2019-03-27 20:24] DennisPan opened #104 "Refresh cached dns periodically"
Currently, enabling `cacheDns` caches the address indefinitely. If the ip changes, then the messages are dropped. Fortunately, in UDP's case, `socket.send` does not throw if the ip is no longer there.

Wondering if this has been brought up before? If we implement something that does a new `dns.lookup` (e.g. every 30 seconds, or make it configurable), would that be a good solution? Happy to submit

[2019-03-31 20:45] bdeitte commented on #104
I haven't heard this brought up before, but it definitely makes sense that this could be an issue.  I think this should be configurable, and I think a higher-but-not-indefinite lookup would be good, perhaps 5 minutes?  Thanks for any PR on it!

[2019-03-31 20:47] bdeitte commented on #99
I don't expect this is something that we can change, unless you want to make it configurable.  Again if you want to do that in a PR, happy to look it over.  As it is for a bug, I'm going to close this out.  Thanks.

[2019-03-31 20:47] #99 closed

[2019-04-09 10:21] ahmed-mez commented on #103
Hi @bdeitte, I've submitted a PR https://github.com/brightcove/hot-shots/pull/105 to add the feature, I'll be looking forward to get a review and I'll be happy to make changes if needed.

Thanks!

[2019-04-10 12:46] bdeitte commented on #103
Thanks, merged in!  Switched phones and getting two-factor auth set up properly again here, but I'll get a new build published soon with this in it.

[2019-04-10 12:46] #103 closed

[2019-05-15 12:10] bdeitte commented on #53
See https://github.com/brightcove/hot-shots/pull/107 for the latest on this

[2019-05-18 20:38] bdeitte commented on #53
Added in 6.3.0

[2019-05-18 20:38] #53 closed

[2019-05-18 20:38] bdeitte commented on #101
Fixed in 6.3.0

[2019-05-18 20:38] #101 closed

[2019-05-18 20:42] bdeitte opened #108 "Start using async"
Now that Node 6.x is at end-of-life (https://github.com/nodejs/Release), it's simpler to add in async/await.  This would clear up a lot of the callback hell that has crept into this project.  This would require a major version bbump where we also deprecate support for Node 6.x.

[2019-06-09 21:44] alexcastillo opened #111 "[DEP0112] DeprecationWarning: Socket.prototype._handle is deprecated"
Hi,

Great project, thank you.

I'm getting a deprecation warning on node 12.2.0:

[code]
It appers to be related to dgram dependency. Any advice?

[2019-06-10 21:44] bdeitte commented on #111
Oh interesting, so unix-dgram installs for you on Node 12.  I didn't even see it install properly previously when I tried it: https://github.com/brightcove/hot-shots/pull/107

This issue shouldn't be a problem for you if you aren't using the brand new 'uds' protocol.  The library mentioned above is not in use at all in non-uds cases.

In order to support future versions of Node where this deprecat

[2019-07-11 21:21] danopia opened #114 "UDS connection doesn't repair after agent restart"
I've been testing UDS for Kubernetes applications and have noticed that restarting the agent causes the metrics calls to throw. The library doesn't seem to repair - my code is just throwing repeatedly until I restart the nodejs application.

The first call after agent restart looked like this:

[code]

After that, the rest of the attempts look like this:

[code]

Ideally these errors can be handle

[2019-07-12 21:02] danopia commented on #114
After reading through https://github.com/DataDog/datadog-agent/wiki/Unix-Domain-Sockets-support#implementing-uds-support-for-statsd-client-libraries I see some key points:

* the library should act like UDP by default, aka, it should not throw or block for more than 1ms when emitting metrics to UDS
* unless a 'strict' config is enabled, dropping metrics during a downed agent connection is fine
* t

[2019-07-12 21:44] bdeitte commented on #114
Hey @danopia, thanks for all the details!  So I am the main maintainer of this project, and I do hope this issue can be fixed.  It does sound like an ugly one, and it'll actually be one I run into myself at Maxwell Health (where I work now) as we're looking to eventually switch over to UDS and already use this library/Kubernetes.

That being said, I don't think I'm going to be able to dig into it

[2019-07-12 23:58] danopia commented on #114
Hey, good to hear from you quickly :) I've only configured one low-importance nodejs process for UDS so far, so for me, it's acceptable that hot-shots throws an error up the stack. This also means I have a bit of a testing ground for reproing the issue :)

I see that there's already a test around error handling. I'd be willing to try writing one, I'm not sure what aspects of closed connections are

[2019-07-14 19:55] bdeitte commented on #114
Hey @danopia well all help is definitely appreciated!  The UDS support in this library is pretty new, just so you know.  It's from https://github.com/brightcove/hot-shots/pull/107 and https://github.com/brightcove/hot-shots/pull/112

As for tests, we have tests for connections being broken and error handling correctly: https://github.com/brightcove/hot-shots/blob/master/test/errorHandling.js#L148

[2019-07-15 15:05] Willyham opened #115 "Document that memory may grow unbounded in mock mode"
See https://github.com/brightcove/hot-shots/pull/78 for details.

[2019-07-16 15:50] NinjaBanjo commented on #114
I took a stab at this. This is causing issues for us and would like to see it resolve.

https://github.com/brightcove/hot-shots/pull/116

[2019-08-22 13:30] thisromantelecom commented on #111
2|index    | (node:20220) [DEP0112] DeprecationWarning: Socket.prototype._handle is deprecated
UDP linux

[2019-09-03 19:14] lbeschastny opened #117 "increment and decrement functions handle their arguments inconsistently which result in an unexpected decrement behavior"
Right now `.increment` and `decrement`  functions handle their arguments inconsistently.

`.increment` could called with measurement name and tags object, but without an explicit value:

[code]

But any attempt to use `.decrement` in the same way results in tags not being sent.

This behavior is caused by #33 where `.increment` was specifically modified to handle calls without `value` argument, wh

[2019-09-09 18:54] Enrico2 commented on #114
@bdeitte Any chance anyone else is taking a stab at this? @NinjaBanjo mentioned he's no longer able to. If I felt more comfortable with Node, I'd jump in, but given the time it would take to go through the learning curve, I can't justify it against my own priorities. Any help would be appreciated.

[2019-09-10 00:57] bdeitte commented on #114
@Enrico2 Unfortunately I don't know anybody else taking a stab at this right now.  I do pick up on some of the most needed items myself from time-to-time, but I can't at the moment.  It's certainly at the top of my list if I can myself.  And as always, if someone else does pick this up, I am prompt to review and ensure PRs go through quickly when done.

[2019-09-19 10:28] gdoron opened #119 "prefix and suffix don't don't work for events"
Hi,

Consider this snippet:

[code]

# Expected:

event of `df.application_started` is sent to datadog.

# Actual

event of `application_started` is sent to datadog.

Is it a bug or by design?
If it's by design, this is very confusing...

Thanks!
Doron

[2019-09-19 11:58] lbeschastny opened #120 "Certain tag values break telegraf"
I've found several cases when `hot-shots` sends malformed packets to telegraf.

### tags ending with `'\\'` break telegraf for an unknown reason

Reproduction example:

[code]

Telegraf output:

[code]

Though it may be a telegraf issue, I think it still worth mentioning.

### `,` in tag value is handled incorrectly

[code]

Resulting InfluxDB data:

[code]

Instead of `bar,baz` only `bar` is save

[2019-09-22 00:15] bdeitte commented on #120
Thanks for the heads up!  We accept PRs for any issues, so if you or someone working with you would like to fix the ",", certainly would pull that in if it was made telegraf specific.

[2019-09-22 00:17] bdeitte commented on #119
It feels like a bug to me too.  I would do a minor or major release if changing it, would need to think more about which, just in case it causes unexpected issues, but does feel like an oversight.

[2019-09-22 17:49] gdoron commented on #119
I think it's an important fix, but it's a major, stuff can break because of the fix.

[2019-09-22 19:36] bdeitte commented on #117
This should be fixed in 6.5.0- let me know if you see any issues here

[2019-09-22 19:36] #117 closed

[2019-09-22 19:37] bdeitte commented on #115
This should be fixed- let me know if you see any issues here

[2019-09-22 19:37] #115 closed

[2019-09-22 19:37] bdeitte commented on #111
This should be fixed in 6.5.0- let me know if you see any issues here.  I fixed it by only loading in the uds library when it's really needed, so this is only seen by a few people now.

[2019-09-22 19:37] #111 closed

[2019-09-25 21:04] nicgirault opened #122 "typescript import is misleading"
Hello,

Thanks for your work

The following code does not send metrics:

[code]

FYI the `as any` is a shortcut while this issue https://github.com/DataDog/node-connect-datadog/issues/13 is not fixed.

The right code is the following

[code]

types definition does not recognize StatsD default export as the right type so I've to write an ugly `any`. But the real problem is that typescript suggest t

[2019-09-25 21:30] nicgirault commented on #122
Sorry... just ignore this issue. What is written above is wrong

[2019-09-25 21:30] #122 closed

[2019-09-26 07:51] msiebuhr commented on #104
I have a sort-of-similar problem where data sent to a Datadog-agent doesn't arrive after is has been re-scheduled (... inside containers ... inside Kubernetes; full story on [stack overflow](https://stackoverflow.com/questions/58094024/intra-host-udp-traffic-missing-after-destination-pod-re-created).

I considered doing a hotfix to force re-creation of the underlying socket every 30s or so:

[code

[2019-09-26 09:23] msiebuhr commented on #104
Tried it out -- but as there's no way to re-connect (besides creating a whole new client), this doesn't work out terribly well.

[2019-09-26 13:40] msiebuhr opened #125 "Proposal: Factor out connection logic"
I've previously written another [statsd-client](https://github.com/msiebuhr/node-statsd-client), where I ended up factoring out the connection-handling into a separate file per connection type:

 * Common-ish interface to a "connection" makes the core client much simpler.
 * Easier to test when can poke at more "internals" in the connection logic.
 * Lowers the bar for adding new kinds of connecti

[2019-09-28 23:49] bdeitte commented on #125
@msiebuhr Thank you for the suggestion, and for your recent improvements here!  Happy to have your help here, especially with your statsd library expertise, whenever you can give it.

[2019-10-04 05:27] runk opened #126 "AWS Lambda use case"
My org uses hot-shots almost everywhere, except serverless functions namely AWS Lambdas. Reason for that is there's no local datadog agent where to connect. Instead, there's expectation that app would print metrics to stdout in standard format like

[code]

Would you accept a PR where I'd add support of stdout as alternative "transport", maybe via another `protocol` setting type?

[2019-10-06 18:34] bdeitte commented on #126
I didn't realize that's how AWS lambdas did this, that's interesting!  As another protocol, that makes sense and would be fine with me.

[2019-10-07 23:48] bdeitte opened #128 "Handle issues with udsGracefulErrorHandling"
See https://github.com/brightcove/hot-shots/pull/123#issuecomment-537674855.  It appears we need to handle more error cases for retries.

[2019-10-10 12:19] msiebuhr commented on #128
Shouldn't we just try re-connecting on all of them.

And a important detail I noticed: Error-codes are *negative*. My code sees -102, -107 and -111.

[2019-10-10 12:26] msiebuhr commented on #114
I've given the changes in #123 ... and it doesn't work.

First off, `send()`'s `handleCallback()` swallows the error if a callback is set ([code](https://github.com/brightcove/hot-shots/blob/e45e0f2bb0fd917840b6ac8ee724e46632fcb5d8/lib/statsd.js#L361-L371)).

Secondly, I tried having it calling `this.socket.emit('error', err)`, but that didn't make it to the error handler for some reason or other.

[2019-10-10 12:47] msiebuhr commented on #114
Also, when the UDS destination doesn't exist, `createUdsTransport()` fails (code -102), making `createTransport()` return `null`, which again seem to break some assumptions here and there...

[2019-10-10 12:51] nicgirault opened #131 "Error sending hot-shots message: Error: congestion"
Hello & thanks for your work.

I receive plenty of errors "congestion" and I've no clue how to solve it. Any tips?

[2019-10-14 15:50] bdeitte commented on #131
I haven't heard of this one before, and it sounds like an issue connecting with your statsd server and not something that can be solved in here.  What protocol are you using?  You can also set an errorHandler to catch the error to see if that gives you any more info.

[2019-10-14 15:53] bdeitte commented on #128
@msiebuhr I see your comments in https://github.com/brightcove/hot-shots/issues/114#issuecomment-540548105 as well so making this a more generic ticket on potential issues with this feature.  Also interesting on what you see for codes, as it's different than what @alessio-modus mentions in https://github.com/brightcove/hot-shots/pull/123

[2019-10-14 18:59] nicgirault commented on #131
Sorry I didn't precise that I use UDS protocol.

My configuration looks like this:

[code]

Since the socket exists do you think this can come from connecting to statsd server? Is statsd server handled by datadog agent? datadog agent seems well connected to the socket since I receive metrics and logs.

[2019-10-15 14:07] bdeitte commented on #125
Looks like this did what you were thinking?  https://github.com/brightcove/hot-shots/pull/127/files If so I'll close it out

[2019-10-16 01:21] bdeitte commented on #131
The datadog agent is a form of a statsd server.  It seems to me that it would be a problem with this library connecting with the dsd.socket.  There's been some attempts to make retries in these cases work better, but this is still a work in progress: https://github.com/brightcove/hot-shots/issues/128

[2019-10-16 18:36] hayes opened #132 "New transport api makes it impossible to unref sockets"
related to #57 but the workarounds from that issue were broken the most recent set of changes

hot-shots keeps an open socket/connection that will never close under normal use.   This prevents any node process with an open client from exiting cleanly.

Previously we would just do something like `client.socket.unref()` or unref the socket in a subclass.  Unfortunately the new abstracted transport A

[2019-10-16 18:46] msiebuhr commented on #125
I imagined having a `udp.js`, `uds.js`, `tcp.js` etc. would provide an obvious split. `transport.js` or whatever else would then pick the right one and maybe do some thin wrapping...

[2019-10-16 21:38] #132 closed

[2019-10-17 20:02] jordanpurinton opened #134 "Change metric name from value when using Telegraf"
When you send a metric, the default field key is `value`. Is there a way to change that?
So if I wanted to send a metric called `http`, I could have a field key called `errors` and another called `connections` or whatever.

[2019-10-17 23:42] bdeitte commented on #134
I'm not sure I understand here- can you give an example call where you see this and share where the data is sent (Datadog, statsd, etc).

[2019-10-17 23:42] bdeitte commented on #126
Fixed with https://github.com/brightcove/hot-shots/pull/130

[2019-10-17 23:42] #126 closed

[2019-10-22 23:49] jordanpurinton commented on #134
So I'm sending to Telegraf which outputs to Influx. I've attached what I see in Grafana, for reference. Basically I want to change the tag key from `value` to another name.

![Capture](https://user-images.githubusercontent.com/12102971/67344032-f7592680-f504-11e9-8814-2aba7edb7f65.PNG)

[2019-10-23 11:50] floridait opened #135 "Upgrade unix-dgram for compatibility with node 12.x node-gyp"
unix-dgram is at version 2.0.3 and fixes a node-gyp issue. Please upgrade.

[2019-10-25 00:21] bdeitte commented on #135
The latest version of hot-shots is on this version: https://github.com/brightcove/hot-shots/blob/master/package-lock.json#L1910

[2019-10-25 00:21] #135 closed

[2019-10-25 00:25] bdeitte commented on #134
I don't know where the "value" comes from- I assume that's something from Telegraf.  There is only a way to send one metric value at a time- you can add tags to this one value but this appears to be sending on multiple values.  If there is some addition to the protocol that is Telegraf-specific, we can keep this ticket open and wait for someone to work on it.  Unfortunately I am not very familiar

[2019-10-25 00:26] bdeitte commented on #114
I am closing this out so that we handle this all in the ticket referenced above.

[2019-10-25 00:26] #114 closed

[2019-10-25 00:29] bdeitte commented on #131
I am going to assume this wasn't using the latest and close this out to focus on the fixes in the ticket mentioned above.  After that is fixed, if this is still an issue, we can reopen.

[2019-10-26 12:10] jordanpurinton commented on #134
Oh ok, that's fine then. Just was wondering if there was something from your end that could be fixed. Probably requires me to do some more digging on my own. I'll do that and will close this issue.

[2019-10-26 12:10] #134 closed

[2019-11-12 08:23] almandsky opened #136 "useDefaultRoute is not working from v6.7.0"
https://github.com/brightcove/hot-shots/compare/v6.6.0...v6.7.0

Seems like the `createTransport` is taking the `host` parameter before it is updated by the `useDefaultRoute`.  That means, from v6.7.0, if the hot-shots is running inside a docker container, it will still send the metrics to localhost by default, instead of sending to the actual host ip `172.17.0.1`.

We shall consider move the code

[2019-11-12 10:15] Gobie commented on #136
`cacheDns` option doesn't work neither because of the same problem.

[2019-11-12 16:49] almandsky commented on #136
Before the v6.7.0, the `Client.prototype.sendMessage` will use the `host` args after the init is completed.

But from v6.7.0, the `host` is passed to the `createTransport` during the init, so the `host` override will not work after the `this.socket` is initialized via `createTransport`.

https://github.com/brightcove/hot-shots/compare/v6.5.1...v6.8.1#diff-cfdf1e0afcbe7fb32697031bec3cc7deL393

[2019-11-12 17:15] almandsky commented on #136
@Gobie

I include the fix for `cacheDns` in my PR as well.

[2019-11-12 18:02] Gobie commented on #136
Hey @almandsky, thanks for taking the time to tackle this issue.
But I believe `cacheDns` still remains broken as `dns.lookup` is an async call and by the time it is resolved `createTransport` have already been called and `host` can't be overridden.

[2019-11-12 19:32] almandsky commented on #136
@Gobie

I don't think `dns.lookup` is a async call.  It is still a sync call, but you can provide the callback function to it.

https://git.softwareadvice.com/qa/testcafe/blob/db29579085112bfa27808bbe680e2d3747c42ad8/node_modules/@types/node/dns.d.ts#L30

[2019-11-12 19:56] Gobie commented on #136
I would respectfully disagree
[code]

[code]

[2019-11-12 20:24] almandsky commented on #136
@Gobie

Sorry that I am wrong.  I read some posts before saying that the dns.lookup was blocking the main process.  Thanks for the correction.

In this case, yes, the `cacheDns` fix may required to update the socket host or re-create the new socket with the updated host in the callback of the `dns.lookup`.

[2019-11-12 22:43] bdeitte commented on #136
Creating a new ticket on cacheDns, good to know.

[2019-11-12 22:44] bdeitte opened #138 "cacheDns is not working from v6.7.0"
See details at https://github.com/brightcove/hot-shots/issues/136#issuecomment-553016683

[2019-11-12 22:52] bdeitte commented on #136
This one fixed in 6.8.2

[2019-11-12 22:52] #136 closed

[2019-11-27 17:51] gdoron commented on #119
@bdeitte Hi Brian.
Is there any update on this?
Would you accept a pull request if I'll fix it?

[2019-11-30 00:46] bdeitte commented on #119
@gdoron No update here on it.  I would accept a pull request to fix it, thanks.

[2019-12-06 21:56] aheuermann opened #139 "Calling increment/decrement with tags, callback and no value"
I noticed that the following call results in an invalid metric format.

[code]
I think the issue is due to the [arguments length check here](https://github.com/brightcove/hot-shots/blame/master/lib/statsFunctions.js#L103).

[2019-12-08 20:03] bdeitte commented on #139
Yep the way that increment and other functions deal with missing args is... unusual.  But it's been this way for a long time and is a bit tough to consider changing for legacy reasons.  If someone sees ways we can make this better that looks safe, and tests cover it, I'm good with it.

[2019-12-10 06:54] gleb-rudenko opened #140 "TypeScript StatsD type issues: Type 'StatsD' has no construct signatures."
Using typescript I import StatsD:
`import StatsD from "hot-shots";`

When I want to create a new client instance like this:
`const client = new StatsD({...});`
I get `ts(2351)` error, that says:
[code]

I don't seem to get what's the problem here, is that a known issue? `types.d.ts` looks fine, if I didn't miss something.

[2019-12-15 00:47] bdeitte commented on #140
Thanks for the issue and fix here @gleb-rudenko.  I wonder why others who have been using the TypeScript setup haven't run into this, or if it's just lost in TypeScript error noise.  To ask a few who have submitted changes there, @drewen @stieg @etaoins, just want to make sure this makes sense to you too.

[2019-12-15 01:49] etaoins commented on #140
I've been using this which compiles fine:

[code]

The patch looks correct to me, however.

[2019-12-15 02:16] bdeitte commented on #63
With this is place we could also test the sending of calls properly with cacheDns

[2019-12-15 20:24] bdeitte commented on #140
Fixed in 6.8.2

[2019-12-15 20:24] #140 closed

[2019-12-17 15:12] whyman opened #144 "Set protocol via environment var?"
Is it possible to do this natively?

[2019-12-18 07:58] gleb-rudenko commented on #140
Hi @etaoins ,
all of the docs are targeted to JS so every example does default import whether it common JS or es6 imports. It looks inconvenient to use different import behavior for TS, that's why I was confused with that.

Btw, thanks for merging my PR, @bdeitte :)

[2019-12-18 22:45] #138 closed

[2019-12-18 22:47] bdeitte commented on #138
Fixed in 6.8.4

[2019-12-19 21:01] Yomanz opened #145 "Doesn't seem to work."
Hey,

I'm using datadog and recently moved to this module to send stuff to datadog.
There seems to be no metrics recieved by datadog.

Config:
[code]

There are no errors logged.
Thanks,

[2019-12-19 21:32] bdeitte commented on #144
Nope is is not possible.  Closing this out as an issue, as this should be something you can add fairly simply by using env vars in the constructor.

[2019-12-19 21:32] #144 closed

[2019-12-19 21:35] bdeitte commented on #145
@Yomanz I don't see anything wrong in your config.  This module is in use by a lot of groups with such a standard setup, so not sure how to help here without more details.  I would also check with Datadog support to see if they can give you ideas in where to look for a problem.

[2019-12-19 23:05] cookrn opened #146 "TypeError: Cannot read property 'on' of undefined"
After upgrading to 6.8.4 with the changes from #143, I'm seeing the error in the title on this line: `this.socket.on('error', options.errorHandler);` (location: `lib/statsd.js:113:17`)

We use the TCP protocol and often run with no server present meaning the socket fails to connect.

Is this supported behavior?

Thanks in advance for any guidance!

[2019-12-19 23:08] cookrn commented on #146
FWIW, our library version was upgraded and merged automatically by Dependabot because it was a patch version change.

[2019-12-20 01:23] bdeitte commented on #146
Shoot, that does look like a bug!  Trying to see how to fix it, should be able to patch it tonight.

[2019-12-20 03:15] #146 closed

[2019-12-20 03:23] bdeitte commented on #146
Thanks for pointing this out.  Fixed in 6.8.5

[2019-12-20 15:00] cookrn commented on #146
@bdeitte thanks for being so responsive -- we appreciate your work on hot-shots!

[2020-01-27 20:42] ashbrener opened #149 "Memory leak on NodeJS v12"
Our application is instrumenting several custom metrics while processing millions of transactions per hour.

`hot-shots v6.8.5` continuously runs out of heap on several of our worker processes when pushing metrics to the Datadog Agent on Ubuntu 18.04, NodeJS 12.14.1.

Herewith the latest crash report.

[code]

What could cause this behaviour and are there any suggestions for fine tuning the API ?

[2020-01-27 22:28] bdeitte commented on #149
I'm not sure offhand, but that is really interesting.  Can you share your other config settings, do you have anything you pass in to the constructor that would be good to know?

Also one thing comes to mind, looking at the code.  I wonder if callbacks on send aren't getting called as expected (https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L365).  That would keep a bunch around.

[2020-01-28 07:15] ashbrener commented on #149
Thanks @bdeitte, I am importing [dd-trace](https://www.npmjs.com/package/dd-trace) and initializing:

[code]

Then I use a StatsD instance with custom error handler used in a "client factory" to spin off prefix categorized child instances (obviously we only create 1 new child instance per category name).

[code]

Will check messages in flight, thank you.

[2020-01-28 18:52] ericmustin opened #150 "callback is not properly passed bytes arguement"
Hey there,

Hope all is well. The use of a callback, which is supported in your documentation and well as in the underlying `dgram` package, appears to be improperly implemented starting in Jan'19 with [this commit]( https://github.com/brightcove/hot-shots/commit/c49197c2adb451bbd8e62641c1918c1b4ee97009)

in the example
[code]
the `bytes` argument will always be undefined.

You can reproduce this

[2020-01-28 22:54] bdeitte commented on #150
Oh shoot, it was my commit.  :)  Taking a look at this tonight, and assuming it all looks good will get a release out tonight as well.

[2020-01-29 01:02] bdeitte commented on #150
Published in v6.8.6

[2020-02-04 01:05] bencripps commented on #149
We're also seeing a memory growth issue, which only became apparent when we switched to Node 12.

However, we're currently only running hot-shots@5.9.2. I'm not 100% sure if our memory-leak is related to hot-shots, but I'm going to collect a heap-dump, and I will report the findings when I know more.

[2020-02-04 01:45] bencripps commented on #149
Another possibility is that the list of mergedTags is growing on every send call. This would help explain why we see the memory issue [in 5.9.2 as well](https://github.com/brightcove/hot-shots/blob/v5.9.2/lib/statsd.js#L244), as well as [latest](https://github.com/brightcove/hot-shots/blob/master/lib/statsFunctions.js#L227). It might also explain why, in the above stacktrace of the OOM, we see the

[2020-02-04 02:23] bencripps commented on #149
I've also creates an MR to my own fork. If we feel this is the right change/solution, I'll update the MR to point to this repo.

[2020-02-05 12:51] mrknmc opened #152 "TypeError: callback is not a function"
Hi,

We're running into an issue when we call `increment` without a callback argument, e.g.:

[code]

and the socket is `null` (this can happen if the socket is not successfully created by the metric server - in our case Datadog agent), `callback` is called with an error (https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L361-L363).

However, callback is undefined so this fails wit

[2020-02-11 01:03] #152 closed

[2020-02-11 01:07] bdeitte commented on #152
published in 6.8.7

[2020-02-27 01:07] bencripps commented on #149
We can close this, as the leak (at least on our end) was fixed in Node 12.16.0

[2020-03-02 01:54] bdeitte commented on #149
Well that's good to hear.  Curious @ashbrener if you are seeing anything similar

[2020-03-05 00:21] pcothenet commented on #128
We're experiencing something like #114. When the agent restart, hot-shots never seem to reconnect properly (error -107)

[2020-03-18 12:12] marciopd commented on #104
Hello guys, I'm having this issue recurrently in a Kubernetes cluster.
I've created a [pull request](https://github.com/brightcove/hot-shots/pull/158) as a proposal to fix it.

The dns ttl is set as `60s`per default and can be configured through option `dnsTtlMilliseconds `.
If we want to keep backwards compatibility, of course we could change this.

I would appreciate some comments/suggestions.

[2020-03-19 23:48] bdeitte commented on #104
Released as option cacheDnsTtl in v7.2.0

[2020-03-19 23:48] #104 closed

[2020-03-19 23:48] bdeitte commented on #149
Not hearing anything new here so closing this out

[2020-03-19 23:48] #149 closed

[2020-03-21 22:10] pcothenet commented on #131
@bdeitte I am getting this error right now, which I wasn't getting on a prior project. They both use the latest version (as of last week, I think a new (unrelated) one just got published)

[2020-03-22 00:45] pcothenet commented on #131
We have temporarily alleviated our problems by adding a `errorHandler` that logs instead of throwing and crashing the program.

@bdeitte do you know what could be causing this "congestion"?

[2020-03-22 19:39] bdeitte commented on #131
@pcothenet Can you provide more details on your protocol setting, version in use, what type of server you're using it with, etc?

I'm also surprised to hear it's crashing the program, that's different than what I read about.  So simply adding an errorHandler means it isn't restarting?  And you just see those errors when it was restarting?

[2020-03-23 01:21] pcothenet commented on #131
Hi @bdeitte,

Happy to share more details:

Here's the client I expose to my applications:

[code]

(I added the errorHandler yesterday)

(then the application imports this library and use dog.increment, etc...)

We've been using hot-shots in regular UDP (on ElasticBeanstalk environment) for about two years now (thanks for all the work this has been super helpful). We recently started migrating ou

[2020-03-26 12:11] Ginden opened #159 "Tags after tags with new line are not send properly"
Simplest code to replicate issue:
[code]
Tag `baz` is not sent.

Obviously, StatsD message format doesn't allow new lines in tags, but library can check it before sending them and warn user about improper usage.

[2020-03-29 19:04] bdeitte commented on #131
Hi @pcothenet thanks for all the details.  So it make sense that for an unhandled error this would restart things if you have an unhandledRejection setup and exit on it.  So I'm not going to focus on that part, and instead it sounds like there's more than one person having this congestion issue.  I'll reopen this issue, but to be honest it's still not clear to me if this is an issue with hot-shots

[2020-03-29 19:15] bdeitte commented on #159
Makes sense to warn on this.  I always worry about changing behavior in a case like this as I don't know myself the behavior of all endpoints in use with this project (StatsD, DogStatsD, UDS, Telegraf).

[2020-03-29 20:38] pcothenet commented on #131
Yeah, I've generally found that the error handling in the library makes sense.

I'm not an expert in UDS as well. It looks like one of those things that node.js isn't particularly well-suited for (node-unix-dgram adds the dreaded node-gyp steps when installing). I'll poke datadog to see if it's something they can provide clarity on.

[2020-04-11 21:02] TheMagoo73 commented on #92
Happy to take a run at this one.

Having had a quick look at this, I'm wondering if an option would be to create a mock transport that the `createTransport` sets up if the mock flag is set. I think that would be a less invasive change that's simpler to test, and could be extended in future, e.g. to dump the stats to the console.

[2020-04-13 12:21] bdeitte commented on #92
@TheMagoo73 I think that's a great idea, thanks!

[2020-04-21 17:16] lbeschastny commented on #120
Just created #165 to fix `,` issue.

I'm not sure what we should do with trailing `\` issue. Replacing it with `_` doesn't look like a good idea since it works fine in any other place.

[2020-04-29 01:43] bdeitte commented on #120
You could still update sanitizeTags to explicitly look for '_' right at the end the line in sanitizeTags, that would work.  But fixing the comma issue, bringing that one in now, thanks.

[2020-05-27 01:48] coffenbacher commented on #131
FWIW I'm also seeing this error consistently using UDS, with a totally different stack (Rancher K3s on a DigitalOcean VM) and very low volume. It's weird because it works, but I get this error all the time, about ~10% of the calls I make to it. I suspect it might be because I make a few back to back statsd calls, even though the volume is low overall, might be a clue.

Anyways, I don't have any ne

[2020-05-27 21:15] coffenbacher commented on #131
I was able to repro this locally by running a dev UDS server:
[code]
and then spamming the socket:
[code]
Locally, about 300 messages would go before crashing with the congestion error.

I don't have time at the moment to dig into the library and submit a well-designed PR, but if it helps anyone else, my quick fix that successfully sends all the messages (eventually) if anyone needs a workaround:

[2020-06-01 22:27] benblack86 commented on #57
Ran into this problem, put together this fix => https://github.com/brightcove/hot-shots/pull/167

[2020-06-06 00:26] bdeitte commented on #57
Fixed in 7.5.0

[2020-06-06 00:26] #57 closed

[2020-06-10 09:27] Impeekay opened #168 "client.timing could accept date"
currently, the timing method just accepts timestamp which is time in milliseconds, which could be more convenient if a date is also accepted.

Will raise a PR

[2020-06-16 13:49] FINDarkside opened #170 "TCP protocol does not try to reconnect"
I suppose this isn't intended given that uds seems to have such feature? When I restart telegraf instance, hot-shots never tries to make a new connection.  It just keeps getting the same error over and over again

[code]

[2020-06-17 00:36] #168 closed

[2020-06-17 00:44] bdeitte commented on #170
Can you use the built-in error handling functionality to reset if this does happen?  But yes it does make sense to have a feature to allow for reconnection automatically.

[2020-07-01 18:19] DerGut commented on #131
I have stepped into this too by using a very similar setup without explicitly specifying the option `udsGracefulErrorHandling`:
[code]

The documentation states that `udsGracefulErrorHandling` is `true` by default and looking at the following, it almost seems like it.
https://github.com/brightcove/hot-shots/blob/b5477ec1633c7922db9d554b6977689ff90da42e/lib/statsd.js#L70

However, when I look at th

[2020-07-02 00:28] bdeitte commented on #131
Oh nice catch there @DerGut!  Definitely that's a bug in any case, even if it doesn't help here, for that last line to be options instead of this.

[2020-07-02 12:01] DerGut opened #172 "udsGracefulErrorHandling default isn't used"
The default value of isn't actually used and error handling only happens when `udsGracefulErrorHandling` is explicitly set to  `true` (https://github.com/brightcove/hot-shots/issues/131#issuecomment-652574618).

[2020-07-02 12:06] DerGut commented on #131
Definitely, you are right @bdeitte!
Unfortunately, it hasn't solved the congestion error for me but I have created a separate issue https://github.com/brightcove/hot-shots/issues/172 to track this one.

Regarding the congestion error: I am getting an error code of `1` which isn't handled.

[2020-07-03 14:33] DerGut commented on #131
I have looked a little more into this.

In the `unix-dgram` library the lines handling the failed send operation are [these](https://github.com/bnoordhuis/node-unix-dgram/blob/30e4b035d3305fb72ff6172ef32641b3705dc410/src/unix_dgram.cc#L315-L321).
It specifically handles the [error codes](https://www.man7.org/linux/man-pages/man3/errno.3.html) `EAGAIN`, `EWOULDBLOCK` and `ENOBUFS` which are all ind

[2020-07-04 19:55] #172 closed

[2020-07-04 20:08] bdeitte commented on #131
Nice finds @DerGut.  Makes sense given your investigation here that this issue would be fixed by handling the congestion callback internally to hot-shots to not propagate an error any further.

[2020-07-06 20:06] DerGut commented on #131
@bdeitte, I thought so too until I found this [document](https://docs.datadoghq.com/developers/dogstatsd/high_throughput/)
Perhaps it could be valuable to know that packages are dropped such that one can optimise for it?

I think it makes sense to either:
 - propagate the error but mention its meaning/ refer to the document in the docs or
 - implement some of the client side metrics mentioned at [

[2020-07-07 12:52] bdeitte commented on #131
I have never seen those metrics, good to know about.  If anybody at Datadog is reading this, you can always create issues here to make this client more in sync.  :)

Since you've been doing great research here @DerGut what are your thoughts for this plan?  I think those metrics make the most sense, to be aligned here, but it's certainly a bunch of work.  Keeping the error as propogated but documen

[2020-07-12 19:16] DerGut commented on #131
I can submit a PR to add a section to the README and open another issue for the metrics.

You are right, that this is probably the best solution for now as I don't have time to implement the metrics at this point. If there hasn't been a PR for it in the next couple of weeks I can take another look at it 👍

[2020-07-12 20:08] DerGut opened #174 "Implement Datadog client side telemetry"
When sending large volumes of metrics to a single agent, a number of issues can occur. The [Datadog docs](https://docs.datadoghq.com/developers/dogstatsd/high_throughput/#client-side-telemetry) provide some help for tuning OS specific parameters when they do. The document also mentions a number of client side metrics that are implemented by other dogStatsD clients which can help troubleshoot such

[2020-07-14 00:25] #131 closed

[2020-07-14 00:26] bdeitte commented on #174
And as noted in the other ticket, I am definitely in favor of this, and while I won't be able to get to it myself, happy to review or give suggestions as needed.

[2020-08-06 14:26] ehmicky opened #178 "Remove native modules optional dependency"
Some users might want to use this library but without UDS support. For those, installing a native module might be prohibitive. Native modules can make `npm install` much slower. Also their compilation can fail. For example, installing `hot-shots` on my machine (Node 14.7.0) results in the bug described [here](https://github.com/bnoordhuis/node-unix-dgram/issues/58):

[code]

While there are soluti

[2020-08-10 23:19] bdeitte commented on #178
Thanks for all the info @ehmicky, appreciate it!  I see in the linked issue that there is a solution now- does that change how you feel about this?  I'm wondering if the overhead of having a full separate package would be worth it for the one optional install here.  I'm not sure, would want to hear if there's more people who feel this is needed.

[2020-08-11 10:34] ehmicky commented on #178
Hi @bdeitte,
Thanks for your answer! Unfortunately not. At the moment, I am using an alternative statsd client, but I'd prefer to use `hot-shots` because it has more dogstatsd-specific logic

[2020-08-21 08:46] ralphiech opened #179 "A missing check for socket existence"
I noticed A missing check for socket existence in two places (lib/statsd.js:109 and (lib/statsd.js:122)

I can give details or push a fix (if you grant me permission)

[2020-08-21 08:47] ralphiech opened #180 "Error handler not honored"
I noticed a place where the custom error handler is not honored (lib/statsd.js:359)

I can give details or push a fix (if you grant me permission)

[2020-08-26 20:52] bdeitte commented on #179
@ralphiech Please feel free to open a PR for any fix, and I can look at it and merge in if all looks good.  Thanks, appreciate it!

[2020-08-26 20:52] bdeitte commented on #180
@ralphiech Here as well, please feel free to open a PR for any fix, and I can look at it and merge in if all looks good.  Thanks, appreciate it!

[2020-08-27 04:30] ckshobha opened #181 "percentile for timing() method"
I have an issue where the 50th, 75th and 90th percentiles received all have the same value for the duration.
and datadog engineers informed that the data aggregation happens for 10 sec flush window.  They did mention that this time cannot be changed.

But checking to see if bufferFlushInterval and maxBufferSize would in any way be used for percentile aggregation? Could some one help me with this?

[2020-08-27 08:59] ralphiech commented on #179
https://github.com/brightcove/hot-shots/pull/182

[2020-08-27 08:59] ralphiech commented on #180
https://github.com/brightcove/hot-shots/pull/183

[2020-08-29 02:36] #180 closed

[2020-08-29 02:36] #179 closed

[2020-08-29 02:46] bdeitte commented on #181
maxBufferSize is set to 0 by default, which means that metrics are sent on every metric.  So if you're not setting this, then everything should be sent to DogStatsD every time something is sent.  Not sure exactly what the issue would be here.

[2020-09-09 15:20] naseemkullah opened #185 "feat: use 127.0.0.1 instead of localhost"
https://github.com/brightcove/hot-shots/blob/5ec98a55c05e0c490ccf993a0a768f5364683fc6/lib/statsd.js#L49

From https://nodejs.org/api/dgram.html#dgram_socket_send_msg_offset_length_port_address_callback

By changing this we avoid calling DNS to resolve `localhost`

[2020-09-24 01:45] #185 closed

[2020-09-25 14:47] dhermes commented on #128
I'm currently looking into this as well. (I'll probably update this post as I go.) I've got a `local-dd-agent` Docker container / host UDS I've been using to reproduce this.

Error codes:

- 102 / [0x66][3] (Linux): `ENETRESET`
- 107 / [0x6b][4] (Linux): `ENOTCONN`
- 111 / [0x6f][5] (Linux): `ECONNREFUSED`
- 54 / [0x36][2] (macOS): `ECONNRESET`, happens only on the **first** failure when UDS is de

[2020-09-25 17:10] dhermes commented on #128
So here is a summary of the problems with the current implementation:

1.  If `this.socket` doesn't get created on start (as a UDS) then it will **never** recover (even if the UDS eventually gets fixed / recreated). This can be addressed by attempting to re-create a socket in `sendMessage()` https://github.com/brightcove/hot-shots/blob/c488cc77abe0a4edcbc68494c1d28fbd9d84ed70/lib/statsd.js#L357
1.

[2020-09-30 11:26] glebskalinskii opened #190 "[Help needed] Submitting RATE metric"
From the docs it's not clear if it's possible to submit [RATE metric](https://docs.datadoghq.com/developers/metrics/types/?tab=rate#metric-types)

Can someone please help to figure out if it's possible and how to do it?

[2020-10-01 02:12] #128 closed

[2020-11-06 02:49] bdeitte commented on #178
Hi @ehmicky given I haven't heard of others needing this and overhead on keeping a separate package, I am going to close this out.  If there's a way that does seem simple to solve this in the future, certainly good with having something here.

[2020-11-06 02:49] #178 closed

[2020-11-06 02:50] bdeitte commented on #181
Closing this out since I didn't hear anything more on this.

[2020-11-06 02:50] #181 closed

[2020-11-06 02:54] bdeitte commented on #190
You can not set rate directly with DogStatsD that hot-shots works with, as is noted on the bottom of that page.  You can though have rates that are shown in Datadog through a histogram as shown on that page as well.  Hope that helps.

[2020-11-06 02:54] #190 closed

[2020-11-13 19:39] davehorton opened #192 "how to restrict local port range when sending udp"
I am sending stats to Telegraf via udp and have noticed that hot-shots binds to a fairly large number of open ports.  That is not an issue, so long as I can somehow give it a local port range to use -- as it is, it is binding to ports that another process on the machine needs to have and thus causing some failures in my application when this other software fails to grab a port which it believes sh

[2020-11-16 03:40] bdeitte commented on #192
Hi @davehorton that's interesting, haven't heard of this one before.  hot-shots is just using default behaviors in https://nodejs.org/api/dgram.html in general.  There's no config currently for range, but I wonder if using the "port" config would work for this case?

[2020-11-30 13:49] matej-prokop commented on #178
Hey @bdeitte I know that it is probably fault of npm that it doesn't provide way to exclude (opt-out) some optional dependency. However, by adding `unix-dgram` as optional dependency to `hot-shots` project, it effectively forced us to stay at 6.2.0 (last version without `unix-dgram`). Tens of our projects have `hot-shots` as transitive dependency and upgrading hot-shots would "break" their build.

[2020-12-01 23:56] bdeitte commented on #178
Curious how this broke your build @matej-prokop?  Is it that you're not allowed to use unix-dgram, unix-drgram won't install properly, something else?  There may be other solutions here so curious.

[2020-12-02 08:26] matej-prokop commented on #178
Sorry - now I see that my previous message for probably missleading.

During `npm install` npm always tries to install `unix-dgram` but that fails because gyp is missing in our environment. Entire `npm install` finishes because `unix-dgram` is optional dependency so `npm` ignores/skips this failure. So for instance build in CI is passing and everything is nicely green.

Nevertheless, actual proble

[2020-12-03 03:04] bdeitte commented on #178
Got it, thanks for the info.  Well I don't think having a different version here is still going to be the solution unfortunately.  You could try something like this?  https://stackoverflow.com/questions/33542712/npm-never-install-nested-optional-dependencies-for-npm-package

[2020-12-16 20:33] mariusandra commented on #178
I'll second that this optional dependency is making me look for an alternative statsd client (for [posthog-plugin-server](https://github.com/PostHog/posthog-plugin-server)). Our logs are cluttered with this gyp failure and it's hard to parse them and see that actually everything is fine.

![image](https://user-images.githubusercontent.com/53387/102402789-92ed0680-3fe5-11eb-98cb-9a13b8591cbc.png)

[2020-12-16 21:43] mariusandra commented on #178
I published [@posthog/hot-shots](https://www.npmjs.com/package/@posthog/hot-shots) version 8.2.1. It's exactly the same package, just the `optionalDependencies` line is removed... and thus no unix-dgram support anyway.

This package will probably stay up, but nobody should really use on it for their app. I don't plan on keeping it in sync with the main repo and we will probably remove it once this

[2020-12-17 01:22] bwidermeli opened #196 "Set max size for maxBufferSize"
If you have the metric example with value 1
It gets pushed this way:
**e = 1
ex = 1
exa = 1
exam = 1
examp = 1
exampl = 1
example = 1**

I am not sure if this happens due to a problem on the lib or you might know why this is happening, I saw that it might be when the message gets converted into a Buffer, but I don't think the problem is right there, I have been trying to replicate the issue locall

[2020-12-17 03:18] bdeitte commented on #196
Hi @bwidermeli I have never seen an issue opened on this (and definitely haven't seen this in the hot-shots usage I've had).  Really interesting.  Could you share some of your hot-shots settings?  Most interested in the 'protocol' and if you have tried changing that.

[2020-12-17 03:40] bdeitte commented on #192
I don't think there's anything we'll be doing here other than the existing port config so closing out.

[2020-12-17 03:40] #192 closed

[2020-12-17 04:15] bwidermeli commented on #196
Sure!
It is indeed an interesting issue. Here are the following implementation that we have in a wrapper of hot-shots.
[code]

So, we actually have no protocol settings yet as we were using the hot-shots@6.8.1 version and we are just migrating now to the 8.6.1. Any ideas?

[2020-12-17 13:35] bwidermeli commented on #196
Even when we changed to the updated version, we had no need of setting the protocol though

[2020-12-17 15:09] bwidermeli commented on #196
Just tried deploying a version with protocol set to 'uds' and the problem is the same:
![image](https://user-images.githubusercontent.com/50375327/102505445-c28d2480-4060-11eb-920c-9d58f8613da1.png)

[2020-12-18 03:34] bdeitte commented on #196
Hmm.  Not sure if anybody else has seen this and I'm still stumped.  Anything unusual about your DogStatsD usage, have you asked Datadog about that?  Also, anything unusual in how you call hot-shots- is it some kind of indirect or functional programming call where it could be accidentally called a bunch of times?  As you can see from my questions, I'm wondering about things outside of hot-shots.

[2020-12-18 03:47] bwidermeli commented on #196
Hmm, I did ask Datadog but need to enable the log_level to info and
activate the flare for tracing, is there any way we can do that with a
configuration? As we cannot execute a linux command on the production
instances. Do you have any idea of other way to activate this tracing?

And about how we are calling it, nope, for example the
easiest implementation is just an histogram for the response tim

[2020-12-18 08:58] matej-prokop commented on #178
@bdeitte Thank you for suggestion! I was already experimenting with shrinkwrap because of `unix-dgram` but it doesn't work in desired way. Even if you do `npm install hot-shots --no-optional` and `npm shrinkwrap` it writes `unix-dgram` into `npm-shrinkwrap.json` as depedency. Therefore running just `npm install` later results in an attempt to install `unix-dgram` 😞

![image](https://user-images.gi

[2020-12-18 16:38] bwidermeli commented on #196
Hey Brian, I just checked all this again and I can confirm that the issue is actually here on the hot-shots library, I made a whole complete new implementation on a package, replacing hot-shots and adding an implementation of node-dogstatsd but updating it locally to have all the implementation from hot-shots and it just stops failing, you can see an example on the following screenshot:
![image](h

[2020-12-18 22:14] bwidermeli commented on #196
Update: Just found the issue, looks like it's a problem with the bufferHolder, when the maxBufferSize is set to 10000 for example with no bufferInterval, we have this problem.
I still don't know what the solution would be, but at least we know now that the issue comes from the buffer, when it gets enqueued.

[2020-12-21 15:57] bdeitte commented on #196
Well that's interesting!  Sorry a bit intermittent here for awhile so may be slower to respond.  Did changing settings work to fix it?  I'd still want to keep this issue open to be clear, until we have a test case and fix in there for the combination, but wanted to make sure that does make it fine.

[2020-12-21 18:54] bwidermeli commented on #196
No problem at all!
Yup, setting the maxBufferSize to 0 fixes the issue, even though would be
nice to know how to fix it, I'm still looking for a solution on this, as it
is much better to send a couple metrics instead of just sending them on
each metric we need to push.

[2020-12-29 15:38] bwidermeli commented on #196
Hello Brian!
So, we just found the issue, looks like the problem is that the Datadog Agent has a maximum size buffer of 8k bytes to be received, and we were sending about 10k, there is no place where they actually specify this, so we discovered this on the code and there is actually an issue where they say "8k bytes is more than enough!".
Maybe this could be added in the hot-shots documentation or

[2021-01-02 02:06] bdeitte commented on #196
@bwidermeli Well that's good to know, glad you figured it out.  I switched the title of this bug now and will keep it open until the following is done: when using udp the maxBufferSize switches back to size 8192 if set higher than this value with a console log as to why, and the README to updated to indicate the max value allowed

[2021-01-02 03:07] bwidermeli commented on #196
Sounds great Brian! Thanks a lot for taking on this!

[2021-03-04 17:54] deweyjose opened #197 "metrics stop reporting"
Hi,

We're currently seeing cases where after a week or so where metrics from some of our processes stop reaching Datadog. Restarting the processes will fix the issue, we see metrics land in Datadog immediately following a restart.

We've instrumented the client with an error callback, which is not getting triggered, we don't see any log entries for it. Has anyone else run into something like this

[2021-03-06 19:53] bdeitte commented on #197
Well that is pretty odd- I haven't heard of this one before.  Do you have DD_AGENT_HOST set by any chance, and could that host IP change (and not be picked up because of cacheDns?).  Not thinking of anything else from what you show here.

[2021-03-16 14:38] peeter-tomberg opened #198 "Using an IP still invokes DNS lookup due to callback being defined on datagram send"
Hello!

We recently integrated datadog ontop of our existing monitoring solution and discovered a lot of DNS lookups for our statsd agent IP. We were specifically passing an IP so we wouldn't have to resolve a host name.

It seems to be the fact that for UDP we are using: https://nodejs.org/docs/latest-v12.x/api/dgram.html#dgram_socket_send_msg_offset_length_port_address_callback

Which is being u

[2021-03-21 02:15] bdeitte commented on #198
What versions are you both using?  Note we have had issues with cacheDns in the past, as noted in https://github.com/brightcove/hot-shots/blob/master/CHANGES.md.  So unfortunately some older versions may not work with this setting as expected.

Thank you for all of the looking into this issue @peeter-tomberg in case it's not this.  It's not clear to me from nodejs/node#35130 if that would mean thi

[2021-03-24 19:39] dackland commented on #198
We've been on 8.3 (latest) for two months now.

[This post](https://github.com/DataDog/dd-trace-js/issues/1044#issuecomment-673135596) on `dd-trace-js` describes what we're seeing - a huge volume of DNS lookups on either the dd-agent or DogStatsD service.  The only difference being that we use a Docker IP, `172.17.0.1`, to connect to both.  DataDog seems to think it couldn't be the agent since the

[2021-03-25 13:38] matetukacs commented on #198
We're experiencing the exact same problem

[2021-03-25 22:16] peeter-tomberg commented on #198
Reproducing this is pretty straightforward on my macbook:

[code]

produces the output:

[code]

[2021-03-26 01:00] bdeitte commented on #198
@peeter-tomberg It's not clear to me that this reproduction really shows that DNS is in use.  As I noted above, the issues says that "dns.lookup() has a fast path for IP addresses" which I would assume mean it wouldn't really do a DNS lookup.  That would make a lot of sense to me, that the code would be smart enough to return an IP if it thought that's what was seen.

To be clear, I'm not saying t

[2021-03-26 02:37] bdeitte commented on #198
Ok so I looked at this a little bit more tonight, and the example can be changed to actually cache by waiting a bit.  Something like this:
`
const dns = require('dns');

const originalDnsLookup = dns.lookup;

dns.lookup = (...args) => {
  console.log('dns lookup called with', args);
  const result = originalDnsLookup(...args);
  return result;
};

const hotshots = require('hot-shots');
const stats

[2021-03-29 08:49] peeter-tomberg commented on #198
Referencing https://github.com/DataDog/dd-trace-js/pull/1187

[2021-03-30 23:37] bdeitte opened #200 "Add gaugeDelta function"
See https://github.com/brightcove/hot-shots/pull/191 which just needs to be finished up

[2021-04-19 05:48] Ashniu123 opened #202 "Add tags on asyncTimer during function execution"
Hi

I have a scenario where I want to add tags to the asyncTimer stat with data which is fetched during the function execution. Is there a way to do that with hot-shots?

I use datadog for metric collection. Their `dd-trace` library has the capability to do so with `tracer.scope().active()?.addTags(...)`. Could hot-shots have something similar?

[2021-04-21 14:24] laupow opened #203 "Flag to disable DD_ENTITY_ID globalTag behavior"
`hot-shots` needs a toggle to disable this default DD_ENTITY_ID behavior:

One of our metrics databases was recently overloaded with excessive cardinality because the library starting tagging metrics in a non-Datadog metric pipeline.

Datadog was enabled on the the application. However, most application metrics went to an Influx database (not Datadog) but still had the `DD_ENTITY_ID` tag. Combined

[2021-05-02 03:11] bdeitte commented on #203
Hi @laupow sorry to hear that and thanks for entering the issue.  Note that all hot-shots PR are community-driven at this point, so if you'd like to see this in there, consider creating a PR for it.  Thanks.

[2021-05-02 03:15] bdeitte commented on #202
It doesn't look like that is something you can do: https://github.com/brightcove/hot-shots/blob/master/lib/statsFunctions.js#L67

Your choices here would be to add something (PRs always welcome) or to take this code into your own code and alter, as it's syntactic sugar on top of the timing() function.

[2021-05-14 20:56] hdavidzhu commented on #197
@deweyjose Dealing w/ something slightly similar -- if your `maxBufferSize` too big? Datadog agent's default buffer is 8KB, and what you have is 10_000 * 2B = 20KB

[2021-05-24 21:39] cmaddalozzo opened #205 "Unix domain socket is not closed after unsuccessfully attempting to connect"
[The call to connect on a UDS socket](https://github.com/brightcove/hot-shots/blob/2fd413630eab649274f301ab13f9ba5c4cd64abb/lib/transport.js#L102) can raise an error if the socket is not available.  This results in a leak and these sockets are never cleaned up. A simple fix would be wrap the call to `connect` in a try/catch and close the socket upon catching an error. To keep the behaviour consist

[2021-05-30 01:46] #205 closed

[2021-08-30 13:58] tim-crisp opened #211 "Update type definitions to encapsulate stream protocol"
String union type definition for [protocol option](https://github.com/brightcove/hot-shots/blob/master/types.d.ts#L20) does not include `stream`. Will raise a PR to fix this shortly.

[2021-09-02 19:02] #211 closed

[2021-09-24 23:20] zen0wu opened #214 "overrideTags is highly memory inefficient"
Based on our profiling result, it accounts for 5% of total memory allocation in our production servers.

Based on the implementation here,
https://github.com/brightcove/hot-shots/blob/f28d646f180f1ae1fbee7d510574ed400f24be2d/lib/helpers.js#L33-L43

It generates many intermediate strings by parsing the given formatted tags.
- When an array of tag pairs are parsed, `[ "a:b", "c:d" ]`, it reparses th

[2021-10-20 21:01] sambostock opened #215 "Prefix (and suffix?) should probably enforce separator presence"
## TL;DR

We should enforce that metric prefixes end in a period, or insert it automatically.

## Reasoning

Consider the following metric:

[code]

It is common to want to add a prefix to the metric to identify the application emitting it.

In many other StatsD libraries, specifying a non-empty prefix (e.g. `my_app`) results in the following:

[code]

A period (`.`) is automatically added to deli

[2021-10-22 04:54] tlhunter commented on #215
`hot-shots` should absolutely insert the period when missing. I get bit by this with every new project ;)

[2021-10-31 16:29] #170 closed

[2022-01-13 00:34] xzyfer commented on #196
From the [official agent docs](https://docs.datadoghq.com/developers/dogstatsd/high_throughput/#enable-buffering-on-your-client) the agent buffer size is configurable.

[2022-01-13 01:30] bwidermeli commented on #196
@xzyfer Yes, they added that after we (Mercado Libre) had a really long talk with the whole team because of this. And we also added a fixed 8KB to the buffer_size on a wrapper we use on the whole company, so this would never happen again in our projects at least.

[2022-02-08 19:29] dlancer opened #218 "Client closing function failing when errorHandler is defined, but socket is null."
Client closing function failing when errorHandler is defined, but socket is null,  e.g. uds transport failed to create for some reason.

[code]
https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L452

[2022-03-01 14:09] vvo commented on #126
Just in case someone is looking at this: I wasn't able to use this directly for Datadog + AWS lambda. As it needs some prefixes. The format for Datadog to output on the console is either:

[code]

or

[code]

There's one catch: you can only use distribution metrics. As explained here: https://docs.datadoghq.com/serverless/custom_metrics/#understanding-distribution-metrics

In the end, I went for t

[2022-04-22 13:02] francisdb opened #222 "Error: send EINVAL ::1:8125 on Node.js 17+"
`hot-shots` `9.0.0`
`Darwin foobar.local 21.4.0 Darwin Kernel Version 21.4.0: Fri Mar 18 00:46:32 PDT 2022; root:xnu-8020.101.4~15/RELEASE_ARM64_T6000 arm64`

we configure `StatsD` by default with `host` `localhost`

on Node.js 16 everything works as expected
on Node.js 17 and 18 we get:

[code]

Probably because localhost now resolves to `::1` instead of `127.0.0.1` and the code path expects an i

[2022-04-25 11:24] lizzie commented on #218
got same errors  @bdeitte

[code]

[2022-04-30 01:07] hjr3 opened #223 "Cache DNS implementation is susceptible to a stampede"
First, thank you for making this client. It has been very useful.

At $JOB, we have a load bearing service sending stats via this client. One challenge is that we are on k8s, which has some real problems. See [Racy conntrack and DNS lookup timeouts](https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts). Ideally, we should use [NodeLocal DNSCache](https://kubernetes.io/docs/tasks/adm

[2022-04-30 02:48] hjr3 commented on #223
Actually, maybe the best path forward is exposing a function that allows a custom DNS lookup. It would be passed in as the lookup` option in: https://nodejs.org/api/dgram.html#dgramcreatesocketoptions-callback

[2022-06-02 12:02] juzerali opened #225 "[feature-request] Noop/Console implementation"
For the cases where application needs to be run in multiple environments where a statsd server may not be available, provide Noop and Console implementations that just ignores or logs the method calls on console respectively.

[2022-06-20 19:18] bdeitte commented on #225
Sounds like a good idea.  As a heads up, no one is fixing any of the issues that come up here- this is all community driven.  So if you are interested in doing this, please feel free.

[2022-06-20 19:20] bdeitte commented on #223
Sorry for the slow response on this, and an interesting issue.  I think either of your solutions here is reasonable as an option and would accept a patch for this.  Thanks.

[2022-06-20 19:23] bdeitte commented on #222
Well, that's interesting.  I'm surprised this isn't coming up with more people.  Switching away from localhost just happened in version 8.0.0 and was done for performance reasons: https://github.com/brightcove/hot-shots/pull/186

[2022-06-20 19:29] bdeitte commented on #214
Sorry for the slow response on this, and thanks for the info. As a heads up, no one is fixing any of the issues that come up here- this is all community-driven. So if you are interested in doing this, please feel free. Thanks.

[2022-06-20 19:33] bdeitte commented on #215
I'm totally good with a PR for this if anybody wants to create one.  This will require a major version update, just in case it would break someone, but that does seem like something that just trips everyone up and is never needed.

[2022-06-20 19:33] bdeitte commented on #215
And apologies (as I keep saying as I get through old issues here) on the delay on this.

[2022-06-20 21:54] bdeitte opened #230 "Improve coverage in GitHub Actions"
GitHub Actions was just enabled, but Node 18 and some Windows testing couldn't be enabled in https://github.com/brightcove/hot-shots/pull/229.  This should be looked at again by someone and fixed up.

[2022-07-30 21:19] #223 closed

[2022-08-11 07:46] eseite47 opened #232 "Why are colons treated as reserved characters in tags?"
Hi,

I am trying to send a tag in my metrics that would look something like this `get_/v1/data/:id`. However, in datadog, I can see that in datadog, the colon was replaced by an underscore, resulting in `get_/v1/data/_id`. Colons are listed as allowed characters in tags by datadog: https://docs.datadoghq.com/getting_started/tagging/

From the code, I can see from [the tests in globalTags.js](https

[2022-08-13 21:50] bdeitte commented on #232
This is done here: https://github.com/brightcove/hot-shots/blob/master/lib/helpers.js#L7

At the time, it appears this was seen as the right set of reserved characters: https://github.com/brightcove/hot-shots/issues/55

Open to a PR to have this fixed to whatever is the most current standard, although we'll have to think about backwards compatibility.

[2022-08-24 21:00] albert-mirzoyan opened #233 "StatsD ClientOptions interface is missing `stream` property"
The runtime supports the `stream` option
https://github.com/brightcove/hot-shots/blob/master/lib/statsd.js#L64
But the types.d.ts is missing the declaration.
https://github.com/brightcove/hot-shots/blob/master/types.d.ts#L5

[2022-09-13 00:54] bdeitte commented on #233
Thanks for the heads up.  PRs are always welcome, or I'll try to remember this the next time I'm merging things and making updates.

[2022-09-26 15:54] luke-lacroix-healthy opened #234 "asyncTimer consumes errors and return values"
The implementation of asyncTimer causes it to consume errors and return values.

Here is a Jest test that shows the failure:
[code]

[2022-10-11 07:11] stepanho commented on #200
Hello @bdeitte! Can we escalade resolving that issue?

[2022-10-14 02:12] hjr3 commented on #198
Since https://github.com/brightcove/hot-shots/commit/a399dda99fb1bf2b15e53646b3ef5d8cbb0b90c9 landed in `v9.2.0` you can do:

[code]

[2022-10-16 02:31] bdeitte commented on #200
Hi @stepanho this project is all based on people contributing at this point.  So if you or someone else would like to finish up that work, I am happy to review and merge in.

[2022-10-18 11:36] DZDomi opened #235 "Upgrade to unix-dgram 2.0.6 for node 18 support"
Hey,

In order to have support for node 18, the unix-dram package needs to be upgraded to 2.0.6, which came out yesterday.

Currently the build will fail with the following error message on node 18.11.0:

[code]

[2022-10-22 02:04] bdeitte commented on #233
I am making a small update myself right now, and I was going to put this in.  But I'm not using TypeScript and wasn't 100% sure the type should  be Stream.  So until next time I make a change, or someone else can submit the PR.

[2022-10-22 22:52] mariotacke commented on #134
@jordanpurinton, trying to do the same right now. Did you ever find a way to do so? From the code, it looks like hot-shots does not support telegraf field sets (only tag sets) based on the spec: https://docs.influxdata.com/influxdb/v1.8/write_protocols/line_protocol_tutorial/.

[2022-10-23 22:16] #235 closed

[2022-10-23 22:16] #233 closed

[2022-10-24 09:31] DZDomi commented on #235
Thanks for taking the time to upgrade ❤️ , already updated and works fine 👍🏻

[2022-11-05 23:43] tmcdonnell87 commented on #225
@juzerali would this work for you?
[code]

[2022-11-25 00:40] deadok22 opened #238 "Special characters used in the dogstatsd protocol are not escaped"
The library does not escape special characters in metric names and tags, which can result in malformed packets and unexpected tags being sent over the wire.

The following characters in tag keys and values should be replaced: `|`, `,`, `#`, `\n`.
The following characters in metric names should be replaced: `|`, `:`, `\n`.

E.g. this:
[code]

Results in:
[code]

Similar issues in other dogstatsd cl